<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.werun.UserMapper">

<!--    <resultMap id="UserResult" type="com.werun.User">-->
<!--        <id property="userId" column="user_id"/>-->
<!--        <result property="password" column="password"/>-->
<!--        <result property="email" column="email"/>-->
<!--    </resultMap>-->

    <select id="selectUserByEmailAndPassword" resultType="com.werun.User">
        SELECT user_id, password, email
        FROM user
        WHERE email = #{email} AND password = #{password}
    </select>

    <select id="selectUserByEmail" resultType="com.werun.User">
        SELECT user_id, password, email
        FROM user
        WHERE email = #{email}
    </select>


    <insert id="insertUser" parameterType="com.werun.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            password,
            email,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            #{password},
            #{email},
        </trim>
    </insert>

    <update id="editUserMessage" parameterType="com.werun.user.PO.UserPO">
        update user
        <set>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
        </set>
        where user_id = #{userId}
    </update>



</mapper>